<div class="col-sm-12">
    <div class="card mb-4">
        <div class="card-body text-center">
            <h5 class="card-title">The best place for people and businesses to outsource tasks</h5>
            <a href="#" class="card-link"><img src="/img/todo.png"></a>
            <h4 class="card-title">What do you need done?</h4>
            <p class="card-text">Start by telling us about your task. Mention when and where (in person or online) you need it done, then suggest a fair budget for the task. Post any task you need from cleaning to web design in only two minutes – for free! There's no obligation to hire.</p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <div class="card-body text-center">
            <a href="#" class="card-link"><img src="/img/trust.png"></a>
            <h5 class="card-title">Trusted Workers</h5>
            <p class="card-text">Our carefully vetted workers will complete your task at an affordable price and with a quality finish.</p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <div class="card-body text-center">
            <a href="#" class="card-link"><img src="/img/selection.png"></a>
            <h5 class="card-title">Wide Selection</h5>
            <p class="card-text">Our workers have a variety of skills, ranging from plumbing to walking your dog. No task is impossible at Taskit.</p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <div class="card-body text-center">
            <a href="#" class="card-link"><img src="/img/insurance.png"></a>
            <h5 class="card-title">Top Rated Insurance</h5>
            <p class="card-text">Taskit Insurance covers the Tasker for personal injury or property damage while performing certain task activities.</p>
        </div>
    </div>
</div>
