<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/style.css" />

        <title>Taskit | Welcome</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding"><a href="/"><img src="http://i64.tinypic.com/15zi2qd.png" height="60" width="150" ></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/tasks/">Browse Tasks</a></li>
                        <li><a href="/signup/">Sign up</a></li>
                        <li><a href="/login/">Log in</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="showcase">
            <div class="container">
                <h1>Get ANY task done.</h1><h1>Over 1m trusted workers ready to complete your task!</h1>

            </div>
            <div id="button">
                <a class="btn1" href="/tasks/new">Create a task</a>
            </div>
        </section>
        <section id='boxes'>
            <div class="container">
                <div class="box">
                    <img src="https://png.icons8.com/metro/50/000000/handshake.png">
                    <h3>Trusted Workers</h3>
                    <p>Our carefully vetted workers will complete your task at an affordable price and with aa quality finish.</p>
                </div>
                <div class="box">
                    <img src="https://png.icons8.com/metro/50/000000/reading.png">
                    <h3>Wide Selection</h3>
                    <p>Our workers have a variety of skills, ranging from plumbing to walking your dog. no task is impossible at Taskit.</p>
                </div>
                <div class="box">
                    <img src="https://png.icons8.com/metro/50/000000/bank.png">
                    <h3>Start Earning</h3>
                    <p>Want to make some extra cash? Sign up to be part of the Taskit team and start earning!</p>
                </div>
            </div>
        </section>
        <footer>
            <p>Taskit | Copyright &copy;</p>
        </footer>
    </body>
</html>
