<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
         <% include ../partials/head.ejs %>
    </head>
    <body>
        <!--Main Container -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img src="img/logo.png" height="60" width="150" ></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <% if(currentUser){%>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/tasks">Browse Tasks</a>
                        </li>
                        <li>
                            <form action="/sessions?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-outline-primary">Log out</button>
                            </form>
                        </li>
                    </ul>
                    <% } else { %>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/users/new">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a href="/sessions/new" class="btn btn-outline-primary">Log In</a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </nav>
                <!--Jumbotron-->
                <div class="jumbotron">
                    <h1 class="display-4">Get ANY task done.</h1>
                    <p class="lead">Over 1m trusted workers ready to complete your task!</p>
                    <% if(currentUser){%>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/tasks/new" role="button">Create a task</a>
                    </p>
                    <% } else { %>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/sessions/new" role="button">Create a task</a>
                        </p>
                        <% } %>
                </div>
                <div class="row">
                    <% include ../partials/card.ejs %>
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <% include ../partials/footer.ejs %>
            </footer>
        </body>
</html>
