<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Task Page</h1>
        <form action="/tasks" method="POST">
            Description: <input type="text" name="description" /><br/>
            Budget: <input type="text" name="budget" /><br/>
            Location: <input type="text" name="location" /><br/>
            Due Date: <input type="text" name="duedate" /><br/>
            <input type="submit" value="Create Task"/>
        </form>
    </body>
</html>
