<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Task Show Page</h1>

                    Task: <%=task.description; %>
                    Budget: <%=task.budget; %>
                    Location: <%=task.location; %>
                    Due Date: <%=task.duedate; %>
        <nav>
            <a href="/tasks/">Back to browse tasks</a>
        </nav>
    </body>
</html>
