.form-signin {
    border: #aab8c2 1px solid; !important;

}

.form {
    margin-right: 100px;
}

.navbar {
    margin-bottom: 0px; !important;
}

.jumbotron{
    margin-top: 4px;
    border: #aab8c2 1px solid; !important;
    height: 70vh; !important;
    background: url(https://www.olympicmovers.net/media/Moving-Company.jpg) no-repeat center; !important;

}

.jumbotron-special{
    text-align: center;
}

.jumbotron{
    margin-top: 4px;
    border: #aab8c2 1px solid; !important;
    height: 70vh; !important;
    background-color: #aab8c2;
}

.card {
    background-color: #f5f8fa; !important;
}

.card-special {
    text-align: center;
    border: white;
    background: white;
}


.row-special {
    text-align: center;
}

.navbar-brand {
    border-right: #aab8c2 2px solid; !important;
}

.nav-link {
    border-right: #aab8c2 2px solid; !important;
    margin-right: 5px; !important;
}

.card {
    height: 40vh;
}

.row {
    margin-bottom: 150px;
}

.footer {
    border-top: #aab8c2 2px solid; !important;
    text-align: center;
}

.form-control {
    margin-top: 2px;
    margin-bottom: 4px;
}

.form-group-special {
    margin-top: -60px;
}

.btn {
    margin-top: 3px;
}
