body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* line-height: 1.5; */
    padding: 0;
    margin: 0;
    background-color: #f5f8fa;
}

ul {
    margin: 0;
    padding: 0;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #ffffff;
    color: #1da1f2;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #aab8c2 2px solid;
    margin-top: -30px;
}

header a {
    color: #1da1f2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header a:hover{
    color: #14171a;
    font-weight: bold;
}

header #branding {
    float: left;
    border-right: #aab8c2 2px solid;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 25px;
}

header .highlight, header :current a{
    color: #e8491d;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 450px;
    background: url(https://www.olympicmovers.net/media/Moving-Company.jpg) no-repeat center;
    text-align: left;
    text-decoration: none;
    opacity: 0.9;
}

#showcase h1{
    color: black;
    font-size: 25px;
    font-family: Arial;
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
    margin-right: 700px;
    margin-left: 50px;
    width: 30%;

}

.btn1 {
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background: #1da1f2;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    margin-left: 250px;
    margin-top: 15px;

}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    margin-left: 10px;
}

#boxes .box img {
    width: 90px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #aab8c2;
    border-top: #aab8c2 2px solid;
}

footer p{
    margin-left: 125px;
}

/* Form */

.form {
    text-align: center;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.show {
    text-align: center;
}

.list {
    text-align: center;
}



/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #showcase h1,
    .btn1,
    #boxes,
    footer{
        float: none;
        text-align: center;
        width: 100%;
    }
}
