<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" />
        <title></title>
    </head>
    <body>
        <!--Main Container -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" height="60" width="150" ></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/new">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sessions/new">Log In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--Sign Up -->
    <div class="container center-align">
        <div class="section">
            <div class="row justify-content-center">
                    <form class="col" action="/users" method="POST">
                        <div class="row justify-content-center">
                            <div class="card">

                        <h5 class="form-signin-heading text-center">Sign up</h5>
                        <div class="form-group text-center">
                            <div class="input-field col s12">
                                <input type="text" name="username" placeholder="username" />
                            </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="input-field col s12">
                                <input type="password" name="password" placeholder="password" />
                            </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="input-field col s12">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--Footer -->
        <footer class="footer">
            <div class="container-fluid p-md-2">
                <a href="/"></a>Taskit | <img src="/img/check.png"></p>
            </div>
        </footer>
    </body>
</html>
